.lostFigures {
  display: flex;
  flex-direction: row;
  min-height: 32px;
  padding: 5px;
  margin: 0;
  background-color: lightgray;
}

.lostFigures__container {
  margin: 0;
}

.lostFigures__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.lostFigures__image {
  width: 18px;
  height: 18px;
}