.boardComponent {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: max-content;
}

.boardComponent__container {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.boardComponent__subTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  background-color: brown;
  border: solid 1px white;
  color: white;
  border-radius: 10px;
  width: max-content;
  padding: 5px;
  margin: 0 auto;
}
